*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
height: 250vw;
width: 100vw;
background-color: lightgray; 
}

.landing-wrapper{

}

.landing-header{
    width: 100%;
    height: 250px;
    background-color: #00afdb;
}

.landing-nav{

}

.landing-main{
    display: flex; /* Ska vi göra denna till flexbox även fast den bara ska innehålla 1 kort? */
    flex-direction: row; 
    width: 100%;
    height: auto; 
}

.beer-card{

}



.search-wrapper{
    display: none; /*Döljer sections 2 och 3 så vi kan stylea dem en i taget. */
}

.beer-info-wrapper{ 
    display: none; 
}