*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
background-color: #1f8dd6; 

}

html, body{
    height: 100%;
}


/* .hide{
    display: none; 
} */

section {
    display: none;
}

.show{
    display: inline;
}









.nav{
    display: flex;
    justify-content: space-around; 
    background-color: #2d3e50;
    height: 75px;
    width: 100%;

}

.nav > button{
    border: none; 
    font-family: "Gothic+A1";
    font-style: normal;
    font-size: 2em;
    background-color:  #2d3e50;
    color: white;
}

.hide{
    display: none; 
}

/* .search-result > div{
    display: none; 
} */

.active{
    display: block; 
}


.home-main{
    display: flex; /* Ska vi göra denna till flexbox även fast den bara ska innehålla 1 kort? */
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 900px; 


}

.beer-card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   height: 70vh;
   width: 40vw;
    background-color:white;
    border-color: #2d3e50;
    border: 5px;
    border-style: solid;
    padding-left: 10px;
    -webkit-box-shadow: 0 35px 20px #1b73ad;
  -moz-box-shadow: 0 35px 20px #1b73ad;

}

.beer-image-frame{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.beer-image{
    margin-top: 10px;
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
    /* width: 100%; */
    
}

.beer-heading{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    margin-top: 50px;
    
    
    
}


.see-more-btn{
    border-radius: 10px;
    border: none;
    height: 4vh;
    width: 10vw;
    color:white;
    background-color: #105685;
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
    font-size: 25px;


}


.search-page{
    display: none; 

}

.search-main{
    width: 100%;
    min-height: 75vh; 
}

.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 50vh;
}

.search-nav{ /* La till denna för att centrera */ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Gothic+A1";
    letter-spacing: 10px;
    margin-top: 15px;
}

.search-nav > p{ /* La till denna, men den verkar blockas av user agent stylesheet */ 
    font-family: "Gothic+A1", sans-serif;
    font-style: normal;
    font-size: large;
}

.search-result{ /* La till denna för att centrera */ 
    display: flex;
    justify-content: center;
    align-items:center ;
}

.beer-info-page{ 
    display: none; 

}

.main-beer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.info-box{
    margin-top: 30px;
    height: 85vh; 
    width: 50vw;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 0 35px 20px #1b73ad;
  -moz-box-shadow: 0 35px 20px #1b73ad;
}

ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    
}

li{
    list-style-type: none;
    color: black;
    font-family:'Helvetica Neue', sans-serif; 
    font-size: 17px; 
    line-height: 20px;  
    text-align: justify; 
    text-justify: inter-word;
    padding-left: 10px;
    margin-top: 15px;
    
}
.li-image-frame{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-top: 15px;
}

.li-image{
    max-height: 100%;
    max-width: 100%;
}

.search-box > h2 {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold;
     letter-spacing: -1px; 
     line-height: 1; 
     text-align: center;
     margin-bottom: 20px;
}

.beer-label{
    color: #111;
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 40px; 
     font-weight: bold; 
     letter-spacing: -1px; 
     line-height: 1; 
     text-align: center;
}

.input-search{
    height: 30px;
    width: 250px;
}

.search-result{
    background-color: #47b5ff;
    
}

span{
    color: red;
}